.fa-bars{
    color: grey;
}

.fa-youtube-play{
    color: red;
}
.fa-search{
    color: grey;    
}

.fa-microphone{
    color:grey;
}

.fa-video-camera{
    color:grey;
}

.fa-bell{
    color:grey;
}

.fa-th{
    color: grey;
}

.fa-home{
    color: red;
}

.home{
    color: red;
}

.fire{
    color: #777777 ;
}

.sub{
    color: #777777 ;
}

.origin{
    color: #777777 ;
}

.music{
    color: #777777 ;
}

.library{
    color: #777777 ;
}

.history{
    color: #777777 ;
}

.vdo{
    color: #777777 ;
}

.later{
    color: #777777 ;
}

.like{
    color: #777777 ;
}

.browse{
    color: #777777 ;
}

.check{
    color #666666;
    
}

.fa-thumbs-up{
    color: gray
}